<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/404.css">
  <title>Jessar | URL Not found</title>
</head>
<body class="flex">
  <header class="flex"> <a href="/">Home</a> </header>
  <main class="flex">
    <h1 class="flex"> 404 <br> Sorry! </h1>
    <p>
      The provided short code does not correspond to any URL in our system or the page doesn't exists
    </p>
  </main>
  <footer class="flex">
    <p>Made with ❤️ by <a href="#">Jesús Arrazola</a></p>
  </footer>
</body>
</html>